*{
    margin: 0;
    padding:0;
}

body{
    font-family: "微软雅黑"；
    color： #14191e;
    width: 100%;
    height: 1000vh;
}

.main{
    width: 1366px;
    height: 768px;
    margin: 0px auto;
    overflow: hidden;   
}

.header{
    position: absolute;
    /* margin-bottom: -366px; */
    width: 1366px;
    height: 288px;
    background: #1890FF;
    top: 2950px;
    z-index: 99;
}
.navBar{
    background-color: #FFFFFF;
    height: 2958px;
    position: fixed;
    width: 1366px;
    margin-top: -930px;
    display: none;
    z-index: 100;
}
.navContent{
    margin: 300px 150px;
}
.navContent a{
    color: black;
    text-decoration:none;
    cursor: pointer;
}
.days a{
    text-decoration:none;
    cursor: pointer;
}
.tableCon{
    margin-top: 120px;
    margin-left: 20px;
}
.schedule{
    margin: 240px 150px;
}
.days{
    margin-top: 80px;
    display: flex;
    flex-wrap:wrap;
}
.days a{
    border: 1px solid grey;
    box-sizing: border-box;
}
.daysBox{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid #E4E7F8;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    line-height: 160px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 50px;
    margin-top: 70px;
}
.tableConText{
    display: inline-block;
    font-size: 80px;
    margin-left: 50px;
}
.banner-slide{
    background: url("../images/background.png");
    background-size: 100%; 
    height: 2950px;
    position: absolute;
    left: 0px;
    width: 1366px;
    top: 0%;
}
.banner-slide-content{
    margin-left: 8.4%;
    margin-top: 200px;
    color: #FFFFFF;
    /* font-family: Noto Sans SC; */
    /* font-weight: bold; */
    font-size: 36px;
    /* line-height: 52px; */
    display: flex;
    flex-direction: column;
    height: 500px;
}
.banner-slide-title{
    font-size: 116px;

}
.banner-slide-cn{
    font-size: 86px;
    margin-top: 190px;
}
.content{
    width: 1100px;
    margin-top: 3400px;
    margin-left: 13.4%;
    position: absolute;
}
.selfIntroduction{
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: black;
}
.avtar{
    background: url('../images/avtar.png');
    border-radius: 0.5;
    position: relative;
    background-size: 100%; 
}
.round_icon{
    width: 240px;
    height: 240px;
    display: flex;
    border-radius: 50%;
    float: right;
    /* align-items: center;
    justify-content: center;
    overflow: hidden; */
    margin-top: -110px;
}
.selfIntroduction-content{
    padding: 64px 44px;
    margin-top: 150px;
    /* height: 500px; */
    font-family: Noto Sans SC;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 60px;
    /* line-height: 93px; */
    color: #1890FF;
    box-shadow: 0px 4px 4px rgba(24, 144, 255, 0.2), 0px 0px 10px rgba(24, 144, 255, 0.1);
    border-radius: 10px;
}
.contentCard{
    padding: 64px 44px;
    margin-top: 150px;
    box-shadow: 0px 4px 4px rgba(24, 144, 255, 0.2), 0px 0px 10px rgba(24, 144, 255, 0.1);
    border-radius: 10px;
    font-style: normal;
    font-size: 55px;
    color: black;
}
.picArea{
    display: flex;
    flex-direction: column;
}
.pic{
    height: 800px;
    margin-top: 100px;
}
.pic1{
    width: 1000px;
    height: 800px;
    margin-top: 40px;
}
.tourList-item{
    height: 150px;
    border-bottom: 1px solid gray;
    /* padding: 40px 40px; */
    display: flex;
    align-items: center;
}
/* .tourList-item span{
    border-left:1px solid black;
    color: #1890FF;
} */
.trafficArea{
    overflow-x:hidden;
    overflow-y:hidden;
    overflow:scroll;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    /* width: 3400px; */
    /* width: 1000px;
    height: 600px;
    position: absolute; */
}
.trafficArea-item{
    display:flex;
    flex-direction: row;
    padding: 84px 64px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(24, 144, 255, 0.2), 0px 0px 10px rgba(24, 144, 255, 0.1);
    border-radius: 10px;
    /* position: absolute;
    height: 400px;
    width: 1000px;  */
   width: 800px;
}
/* .trafficArea-item span{
    display:inline-block;
} */
.viewArea{
    overflow-x:scroll;
    overflow-y:hidden;
    white-space: nowrap;
    margin-top: 20px;
}
.viewArea-item{
    width: 900px;
    display:inline-block;
    /* overflow:scroll; */
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(24, 144, 255, 0.2), 0px 0px 10px rgba(24, 144, 255, 0.1);
    border-radius: 10px;
    height: 1000px;
}
.viewArea-items{
    width: 1000px;
    display:inline-block;
    /* overflow:scroll; */
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(24, 144, 255, 0.2), 0px 0px 10px rgba(24, 144, 255, 0.1);
    border-radius: 10px;
    height: 1000px;
}
h3{
    margin-top: 100px;
    margin-bottom: 100px;
}
.travelTips p{
    margin-top: 40px;
}
.expenseBox-item{
    width: 85%;
    margin-top: 20px;
    padding: 64px 84px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(24, 144, 255, 0.2), 0px 0px 10px rgba(24, 144, 255, 0.1);
    border-radius: 10px;
    height: 100px;
}